*~
diginorm.aux
diginorm.log
diginorm.pdf
abstract.aux
abstract.bbl
abstract.blg
abstract.log
abstract.pdf
diginorm.bbl
diginorm.blg
pipeline/genome-reads.fa
pipeline/genome-reads.fa.bam
pipeline/genome-reads.fa.counts.cmp
pipeline/genome-reads.fa.counts.kmer
pipeline/genome-reads.fa.counts.pickle
pipeline/genome-reads.fa.keep
pipeline/genome-reads.fa.keep.abundfilt
pipeline/genome-reads.fa.keep.abundfilt.keep
pipeline/genome-reads.fa.keep.abundfilt.keep.kh
pipeline/genome-reads.fa.keep.kh
pipeline/genome-reads.fa.kh
pipeline/genome-reads.fa.kh.info
pipeline/genome-reads.fa.sam
pipeline/genome-reads.fa.sorted.bam
pipeline/genome-reads.fa.sorted.bam.bai
pipeline/random.1.ebwt
pipeline/random.2.ebwt
pipeline/random.3.ebwt
pipeline/random.4.ebwt
pipeline/random.fa
pipeline/random.fa.fai
pipeline/random.rev.1.ebwt
pipeline/random.rev.2.ebwt
pipeline/random.x.genome-reads.fa.keep.abundfilt.keep.overlap
pipeline/random.x.genome-reads.fa.keep.abundfilt.overlap
pipeline/random.x.genome-reads.fa.keep.overlap
pipeline/random.x.genome-reads.fa.overlap
pipeline/transcript-reads.fa
pipeline/transcript-reads.fa.bam
pipeline/transcript-reads.fa.counts.cmp
pipeline/transcript-reads.fa.counts.kmer
pipeline/transcript-reads.fa.counts.pickle
pipeline/transcript-reads.fa.keep
pipeline/transcript-reads.fa.keep.abundfilt
pipeline/transcript-reads.fa.keep.abundfilt.keep
pipeline/transcript-reads.fa.keep.abundfilt.keep.kh
pipeline/transcript-reads.fa.keep.kh
pipeline/transcript-reads.fa.kh
pipeline/transcript-reads.fa.kh.info
pipeline/transcript-reads.fa.sam
pipeline/transcript-reads.fa.sorted.bam
pipeline/transcript-reads.fa.sorted.bam.bai
pipeline/transcripts.1.ebwt
pipeline/transcripts.2.ebwt
pipeline/transcripts.3.ebwt
pipeline/transcripts.4.ebwt
pipeline/transcripts.fa
pipeline/transcripts.fa.fai
pipeline/transcripts.rev.1.ebwt
pipeline/transcripts.rev.2.ebwt
pipeline/transcripts.x.transcript-reads.fa.keep.abundfilt.keep.overlap
pipeline/transcripts.x.transcript-reads.fa.keep.abundfilt.overlap
pipeline/transcripts.x.transcript-reads.fa.keep.overlap
pipeline/transcripts.x.transcript-reads.fa.overlap
pipeline/calc-r2.txt
pipeline/ecoliMG1655.1.ebwt
pipeline/ecoliMG1655.2.ebwt
pipeline/ecoliMG1655.3.ebwt
pipeline/ecoliMG1655.4.ebwt
pipeline/ecoliMG1655.rev.1.ebwt
pipeline/ecoliMG1655.rev.2.ebwt
pipeline/ecoli_ref-5m.fastq.counts.cmp
pipeline/ecoli_ref-5m.fastq.counts.kmer
pipeline/ecoli_ref-5m.fastq.counts.pickle
pipeline/ecoli_ref-5m.fastq.kh
pipeline/ecoli_ref-5m.fastq.kh.info
pipeline/ecoli_ref-5m.fastq.map
pipeline/ecoli_ref-5m.fastq.map.cov
eipeline/ecoli_ref.fastq.bz2.keep.map
pipeline/ecoli_ref.fastq.bz2.keep.map.cov
pipeline/endbias-genome.txt
pipeline/endbias-transcripts.txt
pipeline/genome-reads.fa.keep.map
pipeline/genome-reads.fa.keep.map.cov
pipeline/genome-reads.fa.map
pipeline/genome-reads.fa.map.cov
pipeline/mouse-5m.fq.counts.cmp
pipeline/mouse-5m.fq.counts.kmer
pipeline/mouse-5m.fq.counts.pickle
pipeline/mouse-5m.fq.keep.map
pipeline/mouse-5m.fq.keep.map.cov
pipeline/mouse-5m.fq.kh
pipeline/mouse-5m.fq.kh.info
pipeline/mouse-5m.fq.map
pipeline/mouse-5m.fq.map.cov
pipeline/transcript-reads.fa.keep.map
pipeline/transcript-reads.fa.keep.map.cov
pipeline/transcript-reads.fa.map
pipeline/transcript-reads.fa.map.cov
pipeline/trinity-300.1.ebwt
pipeline/trinity-300.2.ebwt
pipeline/trinity-300.3.ebwt
pipeline/trinity-300.4.ebwt
pipeline/trinity-300.rev.1.ebwt
pipeline/trinity-300.rev.2.ebwt
pipeline/ecoli_ref.fastq.bz2.keep.map
pipeline/mouse-5m.fq.keep
pipeline/read15.ranks
pipeline/read2.ranks
pipeline/read3.ranks
sar324.1.ebwt
sar324.2.ebwt
sar324.3.ebwt
sar324.4.ebwt
sar324.rev.1.ebwt
sar324.rev.2.ebwt
staph.1.ebwt
staph.2.ebwt
staph.3.ebwt
staph.4.ebwt
staph.rev.1.ebwt
staph.rev.2.ebwt
ecoli.keep.rawreads.map.gz
ecoli.rawreads.map.gz
sar324.keep.rawreads.map.gz
sar324.rawreads.map.gz
staph.keep.rawreads.map.gz
staph.rawreads.map.gz
bacteria_mda_lane1.fastq.bz2.keep
bacteria_mda_lane7.fastq.bz2.keep
ecoli_ref.fastq.bz2.keep
ecoli.keep.rawreads.map.gz.cov
ecoli.rawreads.map.gz.cov
sar324.keep.rawreads.map.gz.cov
sar324.rawreads.map.gz.cov
staph.keep.rawreads.map.gz.cov
staph.rawreads.map.gz.cov
ecoli_ref.report
